 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #1a1a2e; 
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}


.left-side {
    flex: 1;
}

.text-box h1 {
    color: #a2cf6e; 
    font-size: 3rem;
}

.text-box h2 {
    color: #a2cf6e;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.svg-image {
    width: 100%;
    max-width: 500px; /
}


.login-card {
    background-color: #2e2e48;
    padding: 60px 50px; 
    border-radius: 25px;
    width: 100%;
    max-width: 450px; 
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    text-align: center;
}

.title {
    color: #a2cf6e;
    font-size: 2rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.input-field {
    text-align: left;
    margin-bottom: 25px;
}

.input-field label {
    display: block;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 8px;
}

.input-field input {
    width: 100%;
    padding: 15px; 
    background-color: #4b4b6b;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
}


.btn {
    width: 100%;
    padding: 15px;
    background-color: #a2cf6e;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #8db55e;
    box-shadow: 0 0 20px #a2cf6e;
}